<h1>User info </h1>

<%= form_for(@user) do |f| %>

    <% if @user.errors.any? %>
        <%= @user.errors.count %>error
        <% @user.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>

     Name <%= f.text_field :name %>
     Introduction <%= f.text_field :introduction ,class: "introduction"%>
     Image <%= f.attachment_field :image ,class: "user_image"%>

    <%= f.submit '変更' %>
<% end %>

