

<div class= "container" >
 <div class= "row" >
		<div class ="col-lg-4">
			<%= render 'users/list', user: @user %>
			<%= render 'users/list1', book: @book %>
		</div>

	<div class = "col-lg-8">
		<h1>Bookes</h1>
		<table class="table">

		    <tr>
		       <th>      </th>
		       <th> Title </th>
		       <th> oponion </th>
		    </tr>
		 	<% @user_book.each do |book| %>

            <tr>
				 <td><%= attachment_image_tag book.user, :image, :fill, 40, 40, format: 'jpeg', fallback: "noimage.jpg", size: '40x40' %> </td>
				 <td> <%= link_to book.title, book_path(book.id) %> </td>
	    	     <td> <%= book.body %> </td>
 		     </tr>
 		     <% end %>

 	    </table>
 	</div>

 </div>
</div>
