<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

<div class= "container" >
 <div class= "row" >
		<div class ="col-lg-3">
		    <%= render 'users/list', user: @user %>
			<%= render 'users/list1', book: @bookn %>
			</div>
			<h1>Book detail</h1>
			<div class ="col-lg-9">
			<table class="table">

				<tr>
					<td><%= link_to user_path(@user) do %><%= attachment_image_tag @user, :image, :fill, 40, 40, format: 'jpeg',format: 'jpeg', fallback: "noimage.jpg", size: '40x40' %> <% end %></td>

					<td><%= @book.title %></td>
					<td><%= @book.body %></td>

					<td><%= link_to "編集", edit_book_path(@book.id) ,class: "edit_book_#{@book.id}"%> </td>
					<td> <%= link_to "削除", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "destroy_book_#{@book.id}"%></td>
			    </tr>
		    </table>
		    </div>
   </div>
 </div>
</div>
